<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="playground.android.me.sr1.androidplayground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Bugly所需权限：INTERNET、READ_PHONE_STATE、ACCESS_NETWORK_STATE、ACCESS_WIFI_STATE、READ_LOGS -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleActivity" />
        <activity android:name=".demos.DemosIndexActivity" />
        <activity android:name=".book.FirstLineOfCode.FirstLineOfCodeIndexActivity" />
        <activity android:name=".book.FiftyHacks.FiftyHackIndexActivity" />
        <!-- 课程列表 -->
        <activity android:name=".course.CourseIndexActivity" />
        <!-- UdaCity 的 Material Design 视频课程 -->
        <activity android:name=".course.uda_city_material_design.UdaCityMaterialDesignActivity" />
        <!-- UdaCity 的 Material Design 视频课程: 第四课 ActivityTransition -->
        <activity android:name=".course.uda_city_material_design.lesson4.ContentTransitionActiviry" />
        <activity android:name=".course.uda_city_material_design.lesson4.ContentTransitionDetailActivity" />
        <activity android:name=".course.uda_city_material_design.lesson4.MyShapeTransitionActivity" />
        <activity android:name=".demos.transition.TransitionMainActivity" />
        <activity android:name=".demos.transition.TransitionConceptActivity" />
        <activity android:name=".demos.transition.ActivityTransitionActivity" />
        <activity android:name=".demos.transition.SimpleTransitionActivity" />

        <service
            android:name=".book.FirstLineOfCode.Service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".webview.IpcService"
            android:enabled="true"
            android:process=":ipcprocess" />

        <!-- Demo: Notification: RemoteProcessService -->
        <service android:name=".demos.RemoteProcessService"
            android:process=":remmote_process" />

        <!-- Demo: Service: MainProcessService -->
        <service android:name=".demos.service.MainProcessService" />
        <service android:name=".demos.service.MainProcessServiceWithIntentFilter">
            <intent-filter>
                <action android:name="playground.android.me.sr1.androidplayground.demos.service.MAIN_PROCESS_SERVICE_WITH_INTENT_FILTER" />
            </intent-filter>
        </service>
    </application>

</manifest>
