/* desert scheme ported from vim to google prettify */
.prettyprint { display: block; background-color: #333 }
.nocode { background-color: none; color: #000 }
.str { color: #ffa0a0 } /* string  - pink */
.kwd { color: #f0e68c; font-weight: bold }
.com { color: #87ceeb } /* comment - skyblue */
.typ { color: #98fb98 } /* type    - lightgreen */
.lit { color: #cd5c5c } /* literal - darkred */
.pun { color: #fff }    /* punctuation */
.pln { color: #fff }    /* plaintext */
.tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
.atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
.atv { color: #ffa0a0 } /* attribute value - pink */
.dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { /*list-style-type: none*/ }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  .prettyprint { background-color: none }
  .str, code .str { color: #060 }
  .kwd, code .kwd { color: #006; font-weight: bold }
  .com, code .com { color: #600; font-style: italic }
  .typ, code .typ { color: #404; font-weight: bold }
  .lit, code .lit { color: #044 }
  .pun, code .pun { color: #440 }
  .pln, code .pln { color: #000 }
  .tag, code .tag { color: #006; font-weight: bold }
  .atn, code .atn { color: #404 }
  .atv, code .atv { color: #060 }
}
